@import url(font-awesome.min.css);
@font-face {
    font-family: "Raleway";
    src: url("../font/Raleway/Raleway-VariableFont_wght.ttf");
}


* {
    margin: 0;
}


body {
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    color: #444;
}


a {
    text-decoration: none;
    color: #fff;
}


.header {
    background-image: url(../image/20-percent-tint.png), url(../image/تهران-در-شب.jpg);
    background-size: cover;
}



.header h1 {
    float: left;
    font-size: 1.25em;
}


.nav {
    text-align: right;
}


.nav ul li {
    padding: 0 15px;
    display: inline;
}


.nav ul li a {
    color:rgba(255, 255, 255, 0.5);
    transition: color 0.2s ease-in-out;
}


.nav ul li a:hover {
    color: #ffffff;
}

.top-menu {
    padding: 40px;
}



.btn {
    padding: 10px 20px;
    border-radius: 30px;
    border: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}


.btn-blue {
    background-color: #3cadd4;
    color: #ffffff !important;
}




.btn-gray {
    background-color: #fff;
    color: #444 !important;
}



.btn-big {
    font-size: 20px !important;
    padding:17px 35px;
}


.btn-dark {
    background-color: #383b43;
    color: #ffffff !important;
}


.banner-content {
    text-align: center;
    color: #ffffff;
    padding: 150px 0;
}



.banner-content h2 {
    font-size: 60px;
    line-height: 130px;
}

.banner-content p {
    font-size: 22px;
    margin-bottom: 50px;
}



.services {
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(144 ,144,144,0.25);
    border-top:  1px solid rgba(144 ,144,144,0.25);
    padding: 100px 0;
    text-align: center;
}


.services-header h2 {
    font-size: 42px;
    color: #474747;
    margin-bottom: 12px;
}


.services-header p {
    font-size: 22px;
    color: #858585;
    margin-bottom: 50px;
}


.icon::before {
    font-family: fontAwsome;
    font-style: normal;
}

.color-blue {
    background-color: #3cadd4;
    color: #ffffff;
}


.color-green {
    background-color: #add43c;
    color: #ffffff;
}



.color-red {
    background-color: #d43c61;
    color: #ffffff;
}



.big {
    font-size: 40px;
    padding: 35px 50px;
}


.raunded {
    border-radius: 100%;
}


.services-content>* {
    float: left;
}


.box {
    background-color: #fff;
    padding: 60px 30px;
    border-radius: 4px;
    width: calc(calc(100% / 3) - 82px );
    border: 1px solid rgba(144, 144, 144, 0.25);
    margin: 0 10px;
}


.services-content::after,
.services-content::before {
    content: "";
    display: block;
    clear: both;
}


.box h4 {
    color: #858585;
    font-size: 20px;
    margin: 60px 0 30px 0;
}


.box p {
    line-height: 25px;
}


.services-content {
    margin: 0 auto;
    width: 85%;
}



@media only screen and (max-width: 850px) {
    .box {
        width: 100%;
        padding: 60px 0;
        margin: 10px 0;
    }
}



.about {
    text-align: center;
    padding: 100px 0;
}


.about-header h2 {
    color: #474747;
    font-size: 42px;
    margin-bottom: 12px;
}



.about-header p {
    font-size: 22px;
    color: #858585;
}


.about-content {
    border-bottom: 1px solid rgba(144 ,144,144,0.25);
    border-top: 1px solid rgba(144 ,144,144,0.25);
    margin: 60px auto;
    width: 90%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.about-content>* {
    float: left;
}


.about-content::after,
.about-content::before {
    content: "";
    display: block;
    clear: both;
}



.profile {
    width: 25%;
}

.profile img {
    float: left;
    border-radius: 50% ;
}


.profile h4 {
    margin-top: 30px;
}

.profile p {
    line-height: 25px;
}


.about-footer p {
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 40px;
}


.about-footer {
    width: 70%;
    margin: 0 auto;
}


.contact {
    background-color: #3cadd4;
    color: #ffffff;
    padding: 100px 0;
}

.contact-header {
    text-align: center;
}


.contact-header h2 {
    font-size: 40px;
    margin-bottom: 20px;
}


.contact-header p {
    font-size: 20px;
}


.contact-content {
    margin-top: 100px;
    text-align: center;
}


input[type="text"],
input[type="email"] {
    background-color: #fff;
    color: #444;
    border: none;
    border-radius: 4px;
    padding: 15px 14px;
    width: 25%;
}


textarea {
    background-color: #fff;
    color: #444;
    border: none;
    border-radius: 4px;
    height: 200px;
    padding: 15px 25px;
    width: 50%;
    margin-top: 20px;
    resize: none;
}


.contact-content button {
    margin-top: 20px;
}


::placeholder {
    color: #858585 !important;
    font-size: 15px;
    font-family: "Raleway";
}


.footer {
    background-color: #383b43;
    padding: 100px 0;
}


.copyright li {
    color: #858585;
    display: inline;
    font-size: 15px;
    margin: 0 5px;
}


.copyright a {
    color: #858585;
}
















































































